{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Change Password" %}{% endblock %} {% block content %}
	
	<h1 class="h1-password-rest">
		{% if token_fail %}{% trans "Bad Token" %}{% else %}Cambiar Contraseña{% endif %}
	</h1>

	{% if token_fail %} {% url 'account_reset_password' as passwd_reset_url %}
	<p>
		{% blocktrans %}El enlace para restablecer la contaseña es inválido, probablemente porque ya ha sido utilizado. Por favor, solicitar
		<a href="{{ passwd_reset_url }}">un nuevo restablecimiento de contaseña</a>.{% endblocktrans %}
	</p>
	{% else %}
	<form method="POST" action="{{ action_url }}" class="password-rest">
		<!-- <p>lpm mmmm</p> -->
		{% csrf_token %} {{ form.as_p }}
		<!-- <p>lpm</p> -->
		<input type="submit" name="action" class="button" value="Cambiar Contraseña" />
	</form>
{% endif %} {% endblock %}
